.header img{
    margin-top: 70px;
    margin-left: 300px;
}
.header h3{
    margin-left: 300px;
}

body{
    background: #FAFAFA;
}
.maunt{
    margin-top: 160px;
    margin-left: 300px;
    width: 530.63px;
    height: 550.58px;
    background:white;   
}
.person{
    margin-left: 840px;
    margin-top: 163px;
    background: white; 
    width: 269px;
    height: 258px;


}
.person1{
    background:white; 
    width: 269px;
    height: 279px;
    margin-top: 430px;
    margin-left: 840px;

}
.tech{
    margin-top: 40px;
    margin-left: 300px;

}
.tecno{
    background:white; 
    width: 397px;
    height: 334px;
    padding-right: 60px; 
}
.tecno1{
    background:white; 
    width: 397px;
    height: 334px;
}
.pen{
    background:white; 
    width: 265px;
height: 273px;
   
}
.imgs4{
    margin-left: 85px; 
    margin-top: 20px;
}
.parag{
    margin-top: 100px;  
    margin-left: 240px;
}
.input1{
    width: 376px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 100px
    
}
.input2{
    width: 376px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 40px;
} 
.inputs{
    margin-left: 30px;
}
.footer{
    margin-top: 150px;  
    margin-left: 300px;
}